.form-check-lab{
  display: inline-block;
  text-align: center;
  align-items: center;
  width: 9rem;
}
.form-switch{
  margin-left: 4.5em;
}
.form-switch
.form-check-input{
margin-left:-2.5em;
}

.form-check-label{
  display: inline-block;
  width: 9em;
}